/*************/

/* VARIABLES */

/*************/

:root {
  /* Color Palette */
  /* Colors (http://clrs.cc) */
  /* Text Shadow */
  /* Transparent BGs */
}

/********/

/* BASE */

/********/

body {
  color: #111111;
  line-height: 1.5;
  font: 400 16px sans-serif;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

/* Typography */

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.25em;
  color: #444;
}

h3 {
  font-size: 1.75em;
  color: #444;
}

h4 {
  font-size: 1.5em;
  color: #444;
}

h5 {
  font-size: 1.25em;
  color: #444);
}

h6 {
  font-size: 1em;
  color: #444);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25em 0 .75em 0;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 900;
}

a {
  color: #444;
}

p {
  line-height: 1.75;
  margin: 0 0 2em 0;
}

p.lead {
  font-size: 1.5em;
  font-style: italic;
}

p > a {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid #444;
}

del,
s {
  text-decoration: line-through;
}

ins,
u {
  text-decoration: underline;
}

small {
  font-size: 90%;
}

strong,
b {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  font-size: 1.3em;
  font-style: italic;
  text-align: center;
  margin: 1em auto;
  padding: 1.5em;
  overflow: hidden;
}

blockquote > p {
  margin: 0;
}

/* Images */

img {
  display: block;
}

/* Code */

pre,
code {
  color: #FFFFFF;
  background: #111111;
  border-radius: 4px;
}

pre {
  margin: 2em 0;
  padding: 1em;
}

code {
  padding: .15em .25em;
}

pre > code {
  padding: 0;
}

/* Lists */

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 2em;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table > thead > tr {
  color: #FFFFFF;
  background: #444;
}

table > tbody > tr:nth-child(even) {
  background: rgb(246, 246, 246);
}

table th,
td {
  font-weight: 400;
  text-align: left;
  padding: .75em 1em;
  white-space: nowrap;
}

/* Forms */

label {
  margin: 0 .5em .25em 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
}

input,
textarea {
  color: #111111;
  box-sizing: border-box;
}

input[type="text"],
textarea {
  font-size: 1em;
  font-family: sans-serif;
  width: 100%;
  padding: .5em;
  border: thin solid rgb(196, 196, 196);
  border-radius: 3px;
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 .25em 0 0;
}

/* Misc */

hr {
  height: 0;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

::-moz-selection {
  background: rgb(227, 227, 227);
}

::selection {
  background: rgb(227, 227, 227);
}

/**********/

/* LAYOUT */

/**********/

/* Header */

/* Core */

/* Footer */

/***********/

/* MODULES */

/***********/

/* Box */

.box {
  padding: 1.5em;
  background: #DDDDDD;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs > li {
  margin: .5em 0;
  padding: 0;
  display: none;
}

.breadcrumbs > li:after {
  content: '>';
  margin: 0 1em;
}

.breadcrumbs > li.last {
  display: inline-block;
}

.breadcrumbs > li.last:before {
  content: '<';
  margin: 0 1em 0 0;
}

.breadcrumbs > li.last:after {
  content: '';
}

.breadcrumbs > li > a {
  color: #444;
  text-decoration: none;
}

/* Buttons */

[class*="btn-"] {
  width: 100%;
  font-size: .75em;
  font-weight: 400;
  margin: 0 0 1em 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: color .3s, background .3s;
  transition: color .3s, background .3s;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.btn-ghost {
  color: #444;
  padding: 1em 2em;
  background: none;
  box-shadow: inset 0px 0px 0px 2px #444;
  border: none;
  border-radius: 4px;
}

.btn-ghost:hover,
.btn-ghost:focus {
  color: #FFFFFF;
  background: #444;
}

.btn-ghost:active {
  background: rgb(105, 105, 105);
}

.btn-round {
  color: #FFFFFF;
  padding: 1em 2.5em;
  background: #444;
  border: none;
  border-radius: 4px;
}

.btn-round:hover,
.btn-round:focus {
  background: rgb(105, 105, 105);
}

.btn-round:active {
  background: rgb(96, 96, 96);
}

.btn-pill {
  color: #FFFFFF;
  padding: 1em 2em;
  background: #444;
  border: none;
  border-radius: 2em;
}

.btn-pill:hover,
.btn-pill:focus {
  background: rgb(105, 105, 105);
}

.btn-pill:active {
  background: rgb(87, 87, 87);
}

.btn-lg {
  font-size: 1em;
}

/* Grid */

.grd {
  overflow: hidden;
}

.grd > .row {
  overflow: hidden;
}

.grd > .row > .col-1 {
  width: 100%;
}

.grd > .row > .col-2 {
  width: 100%;
}

.grd > .row > .col-3 {
  width: 100%;
}

.grd > .row > .col-4 {
  width: 100%;
}

.grd > .row > .col-5 {
  width: 100%;
}

.grd > .row > .col-6 {
  width: 100%;
}

/* List */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin: 0 0 .5em 0;
  display: block;
}

.list li:last-child {
  margin-bottom: 0;
}

.list.inline li {
  width: 100%;
  margin: 0 .5em 0 0;
  display: inline-block;
}

.list.inline li:last-child {
  margin-right: 0;
}

/* Measure */

.measure {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Media */

.media {
  margin: 2em 0;
  overflow: hidden;
}

.media-figure {
  margin: 0 1.5em 0 0;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.media-figure > img {
  width: 100%;
}

.media-body {
  padding: 0;
  overflow: hidden;
}

/* Margin */

.m0 {
  margin: 0;
}

.m1 {
  margin: 1em;
}

.mx1 {
  margin: 0 1em;
}

.my1 {
  margin: 1em 0;
}

.mt1 {
  margin: 1em 0 0 0;
}

.mb1 {
  margin: 0 0 1em 0;
}

.m2 {
  margin: 2em;
}

.mx2 {
  margin: 0 2em;
}

.my2 {
  margin: 2em 0;
}

.mt2 {
  margin: 2em 0 0 0;
}

.mb2 {
  margin: 0 0 2em 0;
}

/* Padding */

.p0 {
  padding: 0;
}

.p1 {
  padding: 1em;
}

.px1 {
  padding: 0 1em;
}

.py1 {
  padding: 1em 0;
}

.pt1 {
  padding: 1em 0 0 0;
}

.pb1 {
  padding: 0 0 1em 0;
}

.p2 {
  padding: 2em;
}

.px2 {
  padding: 0 2em;
}

.py2 {
  padding: 2em 0;
}

.pt2 {
  padding: 2em 0 0 0;
}

.pb2 {
  padding: 0 0 2em 0;
}

/* Table */

.table {
  overflow-x: auto;
}

/* Text */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*************/

/* MODIFIERS */

/*************/

/* Visibility */

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.is-collapsed {
  max-height: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.is-expanded {
  max-height: 1000px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.is-transparent {
  opacity: 0;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

.is-opaque {
  opacity: 1;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}

/* Color */

.is-bg-white {
  background: #FFFFFF;
}

.is-bg-gray {
  background: #AAAAAA;
}

/*****************/

/* MEDIA QUERIES */

/*****************/

@media screen and (min-width:650px) {
  /********/

  /* BASE */

  /********/

  /* Typography */

  blockquote {
    margin: 1.5em;
    border-left: 5px solid #DDDDDD;
  }

  /***********/

  /* MODULES */

  /***********/

  /* Button */

  [class*="btn-"] {
    width: auto;
  }

  /* Breadcrumbs */

  .breadcrumbs > li {
    display: inline-block;
  }

  .breadcrumbs > li.last:before {
    content: '';
    margin: 0;
  }

  /* Grids */

  .grd > .row > [class*="col-"] {
    padding: 0 1em;
    box-sizing: border-box;
    float: left;
  }

  .grd > .row > [class*="col-"]:first-of-type {
    padding-left: 0;
  }

  .grd > .row > [class*="col-"]:last-of-type {
    padding-right: 0;
  }

  .grd > .row > .col-1 {
    width: 16.66666666666667%;
  }

  .grd > .row > .col-2 {
    width: 33.33333333333334%;
  }

  .grd > .row > .col-3 {
    width: 50%;
  }

  .grd > .row > .col-4 {
    width: 66.66666666666668%;
  }

  .grd > .row > .col-5 {
    width: 83.33333333333335%;
  }

  .grd > .row > .col-6 {
    width: 100%;
  }

  /* List */

  .list.inline > li {
    width: auto;
  }
}

/*************/

/* VARIABLES */

/*************/

/********/

/* BASE */

/********/

body {
  font: 400 16px "proxima-nova", sans-serif;
  height: 100%;
}

p > a {
  border-bottom: 3px solid #FF851B;
}

/**********/

/* LAYOUT */

/**********/

/* Header */

#header {
  margin-bottom: 1em;
  padding: 2em 0;
  border-bottom: 4px solid #FF851B;
}

/* Nav */

#nav {
  font-weight: 700;
  text-transform: uppercase;
}

/* Core */

/* Footer */

#footer {
  margin-top: 4em;
  padding: 1em 0;
  border-top: 4px solid #FF851B;
}

/***********/

/* MODULES */

/***********/

/* Accent */

.accent {
  color: #FF851B;
  font-weight: 700;
}

/* BG Colors */

.bg-blue {
  background: #0074D9;
}

.bg-green {
  background: #2ECC40;
}

/* Grid */

.grd.demo > .row > [class*="col-"] {
  margin: 0 0 2em 0;
}

/* Title */

.title {
  font-size: 3em;
  font-weight: 900;
  margin: 0;
}

.title.small {
  font-size: 1.5em;
}

/* Media */

.media-figure {
  width: 100px;
  height: 100px;
  display: block;
}

/* Navigation */

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav > li {
  margin: 0 1em 0 0;
  padding: 0;
  display: inline-block;
}

.nav > li:last-child {
  margin: 0;
}

/*****************/

/* MEDIA QUERIES */

/*****************/

@media screen and (min-width:600px) {

}