/*************/

/* VARIABLES */

/*************/

:root {
  /* Color Palette */
  /* Colors (http://clrs.cc) */
  /* Text Shadow */
  /* Transparent BGs */
}

/********/

/* BASE */

/********/

body {
  color: #555;
  line-height: 1.5;
  font: 400 16px sans-serif;
  margin: 0;
  padding: 0;
}

/* Typography */

h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 2.25em;
  color: rgb(171, 189, 211);
}

h3 {
  font-size: 1.75em;
  color: rgb(171, 189, 211);
}

h4 {
  font-size: 1.5em;
  color: rgb(182, 198, 217);
}

h5 {
  font-size: 1.25em;
  color: rgb(192, 206, 222);
}

h6 {
  font-size: 1em;
  color: rgb(192, 206, 222);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 1em 0 0 0;
}

a {
  color: #96ADC8;
}

p {
  line-height: 1.5;
}

p.lead {
  font-size: 1.5em;
  font-style: italic;
}

p > a {
  color: #96ADC8;
  text-decoration: none;
  border-bottom: 1px solid #96ADC8;
}

del,
s {
  text-decoration: line-through;
}

ins,
u {
  text-decoration: underline;
}

small {
  font-size: 90%;
}

strong,
b {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding: 0 1.5em;
  overflow: hidden;
}

/* Images */

img {
  display: block;
}

/* Code */

code,
pre {
  color: #FFFFFF;
  padding: 1em;
  background: #111111;
  border-radius: 4px;
}

/* Lists */

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  margin-left: 2em;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table > thead > tr {
  color: #FFFFFF;
  background: #96ADC8;
}

table > tbody > tr:nth-child(even) {
  background: rgb(239, 243, 247);
}

table th,
td {
  text-align: left;
  padding: .75em 1em;
  white-space: nowrap;
}

/* Forms */

label {
  margin: 0 .5em .25em 0;
}

input,
textarea {
  margin: 0 0 1em 0;
  box-sizing: border-box;
}

input[type="text"],
textarea {
  font-size: 1em;
  font-family: sans-serif;
  width: 100%;
  padding: .5em;
  border: thin solid #96ADC8;
  border-radius: 3px;
  display: block;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 .25em 0 0;
}

input:focus,
textarea:focus {
  outline-color: #96ADC8;
}

/* Misc */

hr {
  height: 0;
  margin: 1em 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

::-moz-selection {
  background: #96ADC8;
  color: #FFFFFF;
}

::selection {
  background: #96ADC8;
  color: #FFFFFF;
}

/**********/

/* LAYOUT */

/**********/

/* Header */

/* Core */

/* Footer */

/***********/

/* MODULES */

/***********/

/* Box */

.box {
  padding: 1.5em;
  background: #DDDDDD;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs > li {
  margin: .5em 0;
  padding: 0;
  display: none;
}

.breadcrumbs > li:after {
  content: '>';
  margin: 0 1em;
}

.breadcrumbs > li.last {
  display: inline-block;
}

.breadcrumbs > li.last:before {
  content: '<';
  margin: 0 1em 0 0;
}

.breadcrumbs > li.last:after {
  content: '';
}

.breadcrumbs > li > a {
  color: #96ADC8;
  text-decoration: none;
}

/* Buttons */

[class*="btn-"] {
  /* width:100%; */
  font-size: .75em;
  font-weight: 400;
  margin: 0 0 1em 0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: color .3s, background .3s;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.btn-ghost {
  color: #96ADC8;
  padding: 1.25em 2em;
  background: none;
  box-shadow: inset 0px 0px 0px 2px #96ADC8;
  border: none;
  border-radius: 4px;
}

.btn-ghost:hover {
  color: #FFFFFF;
  background: #96ADC8;
}

.btn-ghost:focus {
  color: #FFFFFF;
  background: #96ADC8;
}

.btn-ghost:active {
  background: rgb(171, 189, 211);
}

.btn-round {
  color: #FFFFFF;
  padding: 1.25em 2.5em;
  background: #96ADC8;
  border: none;
  border-radius: 4px;
}

.btn-round:hover {
  background: rgb(176, 194, 214);
}

.btn-round:focus {
  background: rgb(176, 194, 214);
}

.btn-round:active {
  background: rgb(166, 185, 208);
}

.btn-pill {
  color: #FFFFFF;
  padding: 1.25em 2em;
  background: #96ADC8;
  border: none;
  border-radius: 2em;
}

.btn-pill:hover {
  background: rgb(176, 194, 214);
}

.btn-pill:focus {
  background: rgb(176, 194, 214);
}

.btn-pill:active {
  background: rgb(161, 181, 206);
}

.btn-lg {
  font-size: 1em;
}

/* Grid */

.grd {
  overflow: hidden;
}

.grd > .row {
  overflow: hidden;
}

.grd > .row > [class*="col-"] {
  margin: 0 0 2em 0;
}

.grd > .row > [class*="col-"]:first-of-type {
  padding-left: 0;
}

.grd > .row > [class*="col-"]:last-of-type {
  padding-right: 0;
}

.grd > .row > .col-1 {
  width: 100%;
}

.grd > .row > .col-2 {
  width: 100%;
}

.grd > .row > .col-3 {
  width: 100%;
}

.grd > .row > .col-4 {
  width: 100%;
}

.grd > .row > .col-5 {
  width: 100%;
}

.grd > .row > .col-6 {
  width: 100%;
}

/* List */

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin: 0 0 .5em 0;
  display: block;
}

.list li:last-child {
  margin-bottom: 0;
}

.list.inline li {
  width: 100%;
  margin: 0 .5em 0 0;
  display: inline-block;
}

.list.inline li:last-child {
  margin-right: 0;
}

/* Measure */

.measure {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Media */

.media {
  margin: 2em 0;
  overflow: hidden;
}

.media-figure {
  margin: 0 1.5em 0 0;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.media-figure > img {
  width: 100%;
}

.media-body {
  padding: 0;
  overflow: hidden;
}

/* Margin */

.m0 {
  margin: 0;
}

.m1 {
  margin: 1em;
}

.mx1 {
  margin: 0 1em;
}

.my1 {
  margin: 1em 0;
}

.m2 {
  margin: 2em;
}

.mx2 {
  margin: 0 2em;
}

.my2 {
  margin: 2em 0;
}

/* Padding */

.p0 {
  padding: 0;
}

.p1 {
  padding: 1em;
}

.px1 {
  padding: 0 1em;
}

.py1 {
  padding: 1em 0;
}

.p2 {
  padding: 2em;
}

.px2 {
  padding: 0 2em;
}

.py2 {
  padding: 2em 0;
}

/* Table */

.table {
  overflow-x: auto;
}

/*************/

/* MODIFIERS */

/*************/

/* Visibility */

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.is-collapsed {
  max-height: 0;
  transition: all ease 0.5s;
}

.is-expanded {
  max-height: 1000px;
  transition: all ease 0.5s;
}

.is-transparent {
  opacity: 0;
  transition: opacity ease 0.5s;
}

.is-opaque {
  opacity: 1;
  transition: opacity ease 0.5s;
}

/* Color */

.is-bg-white {
  background: #FFFFFF;
}

.is-bg-gray {
  background: #AAAAAA;
}

/*****************/

/* MEDIA QUERIES */

/*****************/

@media screen and (min-width:650px) {
  /********/

  /* BASE */

  /********/

  /* Typography */

  blockquote {
    margin: 0 1.5em;
    border-left: 5px solid #DDDDDD;
  }

  /***********/

  /* MODULES */

  /***********/

  /* Breadcrumbs */

  .breadcrumbs > li {
    display: inline-block;
  }

  .breadcrumbs > li.last:before {
    content: '';
    margin: 0;
  }

  /* Grids */

  .grd > .row > [class*="col-"] {
    padding: 0 1em;
    box-sizing: border-box;
    float: left;
  }

  .grd > .row > [class*="col-"]:first-of-type {
    padding-left: 0;
  }

  .grd > .row > [class*="col-"]:last-of-type {
    padding-right: 0;
  }

  .grd > .row > .col-1 {
    width: 16.66666666666667%;
  }

  .grd > .row > .col-2 {
    width: 33.33333333333334%;
  }

  .grd > .row > .col-3 {
    width: 50%;
  }

  .grd > .row > .col-4 {
    width: 66.66666666666668%;
  }

  .grd > .row > .col-5 {
    width: 83.33333333333335%;
  }

  .grd > .row > .col-6 {
    width: 100%;
  }

  /* List */

  .list.inline > li {
    width: auto;
  }
}

/*************/

/* VARIABLES */

/*************/

:root {
  /* Color Palette */
}

/********/

/* BASE */

/********/

body {
  font: 400 16px "omnes-pro", sans-serif;
  height: 100%;
}

/**********/

/* LAYOUT */

/**********/

/* Header */

#header {
  color: #555;
  text-align: left;
  padding: 4em 0;
  background: #efffff;
}

/* Core */

/* Footer */

#footer {
  color: #555;
  margin: 4em 0 0 0;
  padding: 2em 0;
  background: #efffff;
}

/***********/

/* MODULES */

/***********/

/* Logo */

.logo {
  font-size: 3em;
  font-weight: 400;
  margin: 0;
}

/* Period */

.period {
  color: #F012BE;
}

/* Version */

.version {
  color: #F012BE;
}