/*************/
/* VARIABLES */
/*************/

:root {
    /* Color Palette */
    /*--clr-pri: #96ADC8;
    --clr-sec: #A3D5FF;
    --clr-ter: #BE759E;*/
}


/********/
/* BASE */
/********/

body {font:400 16px "proxima-nova", sans-serif; height:100%;}


/**********/
/* LAYOUT */
/**********/

/* Header */
#header {
    margin-bottom:2em;
    padding:2em 0;
    border-bottom:1px solid var(--clr-pri);
}

/* Core */
#core {}

/* Footer */
#footer {
    margin-top:4em;
    padding:1em 0;
    border-top:1px solid var(--clr-pri);
}


/***********/
/* MODULES */
/***********/

/* Accent */
.accent {color:var(--clrs-fuschia); font-weight:700;}

/* Grid */
.grd.demo > .row > [class*="col-"] {margin:0 0 2em 0;}

/* Logo */
.logo {font-size:3em; font-weight:400; margin:0;}
.logo.small {font-size:1.5em;}
