/*************/
/* VARIABLES */
/*************/

:root {
    /* Color Palette */
    --clr-pri: #96ADC8;
    --clr-sec: #A3D5FF;
    --clr-ter: #BE759E;
}


/********/
/* BASE */
/********/

body {font:400 16px "omnes-pro", sans-serif; height:100%;}


/**********/
/* LAYOUT */
/**********/

/* Header */
#header {color:var(--clr-text); text-align:left; padding:4em 0; background:#efffff;}
#header-content {}

/* Core */
#core {}
#core-content {}

/* Footer */
#footer {color:var(--clr-text); margin:4em 0 0 0; padding:2em 0; background:#efffff;}
#footer-content {}


/***********/
/* MODULES */
/***********/

/* Accent */
.accent {color:var(--clrs-fuschia); font-weight:700;}

/* Grid */
.grd.demo > .row > [class*="col-"] {margin:0 0 2em 0;}

/* Logo */
.logo {font-size:3em; font-weight:400; margin:0;}