/*************/
/* VARIABLES */
/*************/

:root {

}


/********/
/* BASE */
/********/

body {font:400 16px "proxima-nova", sans-serif; height:100%;}

p > a {border-bottom:3px solid var(--clrs-orange);}

/**********/
/* LAYOUT */
/**********/

/* Header */
#header {
    margin-bottom:1em;
    padding:2em 0;
    border-bottom:4px solid var(--clrs-orange);
    overflow:hidden;
}
#header-title {}
#header-nav {}

/* Core */
#core {}

/* Footer */
#footer {
    margin-top:4em;
    padding:1em 0;
    border-top:4px solid var(--clrs-orange);
}


/***********/
/* MODULES */
/***********/

/* Accent */
.accent {color:var(--clrs-orange); font-weight:700;}

/* BG Colors */
.bg-blue {background:var(--clrs-blue);}
.bg-green {background:var(--clrs-green);}

/* Grid */
.grd.demo > .row > [class*="col-"] {margin:0 0 2em 0;}

/* Title */
.title {font-size:3em; font-weight:900; margin:0;}
.title.small {font-size:1.5em;}

/* Media */
.media-figure {width:100px; height:100px; display:block;}

/* Navigation */
.nav {
    list-style:none;
    font-weight:700;
    text-transform:uppercase;
    margin:0;
    padding:0;
}
.nav > li {margin:0 1em 0 0; padding:0; display:inline-block;}
.nav > li:last-child {margin:0;}


/*****************/
/* MEDIA QUERIES */
/*****************/

@media screen and (min-width:600px) {

    /* Header */
    #header-title {float:left;}
    #header-nav {margin:1.25em 0; text-align:right; float:right;}
}
