<!doctype html>
<html lang="en">

    <head>
        <title>Cinch | A simple, pure, and efficient CSS micro-framework.</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="A simple, pure, and efficient CSS micro-framework." />
        <meta name="keywords" content="css" />
        <meta name="robots" content="index, follow" />
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/site.css" />

        <!-- TypeKit -->
        <script src="//use.typekit.net/xos4uyv.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
    </head>

    <body>

        <header id="header" class="measure">
            <div id="header-title">
                <h1 class="title">Cinch<span class="accent">.</span></h1>
                <p>A simple, pure, and efficient CSS micro-framework.</p>
            </div>
            <div id="header-nav">
                <ul id="nav" class="nav">
                    <li>Getting Started</li>
                    <li>Insight</li>
                </ul>
            </div>
        </header>
