<!doctype html>
<html lang="en">

    <head>
        <title>Cinch</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="index, follow" />
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="css/site.css" />

        <!-- TypeKit -->
        <script src="//use.typekit.net/xos4uyv.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <!-- HTML5 Element Fix -->
        <!--[if lt IE 9]>
            <script>
                document.createElement('header');
                document.createElement('nav');
                document.createElement('section');
                document.createElement('article');
                document.createElement('aside');
                document.createElement('footer');
            </script>
        <![endif]-->

        <!-- IE7 Font Awesome Fix -->
        <!--[if IE 7]>
            <link rel="stylesheet" href="" />
        <![endif]-->
    </head>

    <body>

    <header id="header">
        <div class="measure">
            <h1 class="logo">Cinch<span class="accent">.</span></h1>
            <p>A simple, pure, and efficient CSS micro-framework.</p>
        </div>
    </header>
